<div class="flex flex-col mt-[5vh] px-[2vw]">
  <div class="sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-3 lg:px-8">
      <div>
        <div class="flex items-center space-x-4 justify-center my-4">
          <mockpit-search class="basis-2/3" *ngIf="dataSource?.data?.length>0"></mockpit-search>
          <div class="space-x-4">
            <input type="file" #fileInput class="hidden" (change)="onFileSelected($event)" accept=".json"
              capture="user" />
  
            <button class="h-min" (click)="fileInput.click()">Import</button>
  
  
            <button class="h-min" (click)="onExport()" *ngIf="dataSource?.data?.length>0">Export</button>

          </div>
        </div>
        <div class="mat-elevation-z8" *ngIf="(mocks$ | async); else loading">
          <table mat-table [dataSource]="dataSource" class="min-w-full text-left text-sm font-light" *ngIf="dataSource.data.length>0">

            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="method">
              <th mat-header-cell *matHeaderCellDef> Method </th>
              <td mat-cell *matCellDef="let element"> {{element.route.method}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="path">
              <th mat-header-cell *matHeaderCellDef> Path </th>
              <td mat-cell *matCellDef="let element"> {{element.route.path}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <div class="flex">
                  <img class="m-auto w-5 h-5 cursor-pointer hover:bg-slate-300" src="./../../../assets/icons/open.svg"
                    alt="Open Icon" routerLink="/mock/{{element.id}}">
                  <img class="m-auto w-5 h-5 cursor-pointer hover:bg-slate-300" src="./../../../assets/icons/delete.svg"
                    alt="Delete Icon" (click)="deleteMock(element.id)">
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator *ngIf="dataSource.data.length>0" (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize" [disabled]="disabled"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
            [hidePageSize]="hidePageSize" [pageIndex]="pageIndex" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
        <div *ngIf="(mocks$ | async)?.length == 0" class="w-full h-[70vh] text-center mt-[10vh]">
          <span class="m-auto text-2xl">Create your first mock by clicking <strong class="block">'New
              Mock'</strong></span>
        </div>
        <ng-template #loading>
          <p clas="h-[60vh] w-full leading-[60vh] text-center">Loading...</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>