<nav class="w-full m-auto h-12 flex justify-between items-center md:max-w-[90vw] lg:max-w-[80vw] sticky top-0">
    <a href="#" class="pl-4">
        <!-- <img src="path/to/logo.png" alt="Logo"> -->
        <h1 class="text-lg font-bold">
            Mock<span class="text-red-400">pit</span><span class="text-sm font-light ml-1"><sub>1.0.0</sub></span>
        </h1>
    </a>
    <ul class="space-x-4 pr-4">
        <button class="google-button orange h-min" [routerLink]="['manage']">Manage Mocks</button>
        <button class="google-button blue h-min" [routerLink]="['mock/new']">New Mock</button>
    </ul>
</nav>