<div class="w-screen h-screen flex flex-col flex-grow items-center">
    <h1 class="text-6xl font-bold mt-[20%]">
        Mock<span class="text-red-400">pit</span>
    </h1>
    <form class="mt-[8%] mx-24 w-2/3">
        <div class="border rounded-full overflow-hidden shadow-md flex">
            <input class="w-full px-4 py-2 outline-none" type="text" placeholder="Search Mocks" title="Search">
            <img class="m-auto mr-2 w-6 h-6 cursor-pointer" src="./../../../assets/icons/search.svg" alt="Search Icon">
        </div>
    </form>

</div>